
.education{
    border: 2px solid #f0326b;
    border-radius: 30px;
    margin-top: 50px;
    padding: 50px;
}
.educ-1, .educ-2{
    margin-bottom: 30px;
}
.educ-1 h3, .educ-2 h3{
    margin-bottom: 10px;
    border-bottom: 1px solid #d461fb;
}
@media (max-width: 768px) {
    .education{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
        margin: auto;
}
    h3, h2, p{
        font-size: 1.1rem;
    }
}
    
