#root {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0.4rem; 
}

h1 {
  color: #d461fb;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
}

h2 {
  color: #b0b0b0;
}

h1, h2 {
  text-align: center;
}

/* Desktop */
@media (min-width: 1024px) {
  #root {
    padding: 2rem 10rem;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  #root {
    padding: 2rem 5rem;
  }
}

/* Celular */
@media (max-width: 768px) {
  .about {
    width: calc(100% - 20px); /* desconta a margem */
    margin: 10px auto;
  }
}

