
.skills h3{
    color: #d461fb;
    text-align: center;
}
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 50px;

}

@media (max-width: 768px) {
    .skills{
        margin: 10px;
    }
    .icons{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }
 
}
@media (max-width: 480px) {
    .skills{
        margin: 5px;
        text-align: center;
    }
    
}