
.skills h3{
    color: #d461fb;
    text-align: center;
    /* border-bottom: 2px solid #d461fb; */
}
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 50px;

}
