.about{
    width: 100%;
    border: 2px solid #b12ba9;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}
.arrow{
    transform: rotate(160deg); 
    transition: transform 0.3s ease;
    color: #b12ba9;
}
/* media queries */

@media (max-width: 768px) {
    .about{
        width: auto;
        margin: auto;
        padding: 2px;
    }
    .about p{
        font-size: 1rem;
        padding: 10px;
    }
}
@media (min-width: 381px){
    .about{
        margin: 0;
    }
    .about p{
        font-size: 0.9rem;
        padding: 10px 20px;
    }

}