:root {
  --bg-color: #f5f5f5;
  --text-color: #1e1e1e;
} 
 
[data-theme="dark"] {
  --bg-color: #1e1e1e;
  --text-color: #f5f5f5;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 400px; 
  padding: 30px;
  height: 100px;
  padding: 0 20px;
  position: relative;
}
.title-header{
    display: flex;
    align-items: center;
    gap: 10px;
}

.switch {
  position: absolute; 
  right: 20px;
  width: 70px;
  height: 35px;
  background: #ccc;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;
  cursor: pointer;
  box-sizing: border-box;
}

.icon {
  font-size: 16px;
  z-index: 1;
  color: #fff;
}

.sun {
  color: #f39c12; 
}

.moon {
  color: #8e44ad; 
}
.code{
  font-size: 40px;
  fill: #555;
}
.slider {
  width: 28px;
  height: 28px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 3.5px;
  left: 3.5px;
  transition: transform 0.3s;
  z-index: 0;
}

.slider.dark {
  transform: translateX(35px);
  background: #333;
}

[data-theme="dark"] .switch {
  background: #555;
}
.typed-text {
  font-size: 2.5rem;
}
.typed-cursor {
  font-size: 2rem;
}


/* responsividade */

@media (min-width: 768px) and (max-width: 1023px){
  .header {
    gap: 30px;
    flex-direction: column;
    height: auto;
    padding: 20px;
  }
  .switch{
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .typed-cursor {
  font-size: 1.5rem; 
  }
  .code{
  font-size: 25px;
}
.icon {
    font-size: 25px;
  }
}

@media (min-width: 481px) and (max-width: 767px){
  .header {
    gap: 10px;
    width: 80%;
    padding: 20px;
    margin: 0 auto;
  }
  .header .title-header h1{
    font-size: 1.2rem;
    gap: 4px;
  }
  .switch{
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .icon {
    font-size: 25px;
  }
  .typed-cursor {
  font-size: 1.2rem;
}
.code{
  font-size: 25px;
} 
}
@media (min-width: 381px) and (max-width: 480px){
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    width: 90%;
    padding: 20px;
    margin: 0 auto;
  } 
  .header .title-header h1{
    font-size: 0.9rem;
    gap: 2px;
  }
  .switch{
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .icon {
    font-size: 20px;
  }
  .typed-cursor {
  font-size: 1rem;
}
.code{
  font-size: 20px;
}
}